<DOCTYPE 5>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width =device-width">
  <title>Story 7 & 8 & 9</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    * {
    box-sizing: border-box;
    font: Century;
    font-weight: 300;

    }

    html, body{
    height: 100%;

    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

    ul .inside{
        overflow: hidden;
        display: none;
        list-style-type: disc;
    }

    .child {
        list-style-type: none;
    }



    li a.panels {
        margin: .5em 0;
        width: 100%;
        display: block;
        background: #181818;
        color: #fefefe;
        padding: .75em;
        border-radius: 0.15em;
        transition: background .3s ease;
        text-decoration: none;
    }

    .acc-list a:hover {
        text-decoration: none;
        margin: .5em 0;
        background: #ffbf00;
        color: black;
    }

    @import "compass/css3";
    *, *:before, *:after {
        box-sizing: border-box;
    }

    html {
        overflow-y: scroll;
    }

    body {
        background: #c1bdba;
        font-family: 'Titillium Web', sans-serif;
    }
    .background{
        background-color: whitesmoke;
  
    }


    a {
        text-decoration: none;
        color: #1a86b1;
        transition: 0.5s ease;
    }

    a:hover {
        color: #179b77;
    }

    .form {
        background: rgba(19, 35, 47, .9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
        border-radius: 50px;
    }
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: rgba(255, 255, 255, .5);
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
    }

    label .req {
        margin: 2px;
        color: #1a86b1;
    }

    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
    }

    label.active .req {
        opacity: 0;
    }

    label.highlight {
        color: #fff;
    }

    .input, textarea {
        font-size: 22px;
        display: block;
        width: 500px;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #fff;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
    }

    .input:focus, textarea:focus {
        outline: 0;
        border-color: #1ab188;
    }

    .input, textarea {
        border: 2px solid #a0b3b0;
        resize: vertical;
    }

    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }

    .top-row:after {
        content: "";
        display: table;
        clear: both;
    }

    .top-row > div {
        float: left;
        width: 48%;
        margin-right: 4%;
    }

    .top-row > div:last-child {
        margin: 0;
    }

    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #1a86b1;
        color: #fff;
        transition: all 0.5s ease;
        -webkit-appearance: none;
    }

    .button:hover, .button:focus {
        background: #179b77;
    }

    .button-block {
        display: block;
        width: 100%;
    }

    /* ------------------------------------ Click on login and Sign Up to  changue and view the effect
    ---------------------------------------
    */

</style>

<body class="background">

  <div class="form">
		

		<div class="tab-content">
			<div id="login">

				<form method="POST">
					{% csrf_token %}

					<div class="field-wrap">
						<label for="username">
						Username<span class="req">*</span>
						</label>
						<input class ="input" type="text" name="username" id="username_login" required autocomplete="off"/>
					</div>

					<div class="field-wrap">
						<label for="password">
						Password<span class="req">*</span>
						</label>
						<input class="input" type="password" name="password" id="password_login" required autocomplete="off"/>
					</div>

                    <button type="submit" id="submit_login" class="button button-block">Log In</button>
                    <p style="color:whitesmoke">Don't have an accoount? Create one <a href="{% url 'story_9:register' %}">here</a></p>

				</form>

			</div>

			<div ></div>

		</div><!-- tab-content -->

	</div> <!-- /form -->






<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>


<script src = "{% static 'js/login.js' %}"></script>

<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>


</body>


</html>
