<DOCTYPE 5>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width =device-width">
  <title>Story 7 & 8 & 9</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    * {
    box-sizing: border-box;
    font: Century;
    font-weight: 300;

    }

    html, body{
    height: 100%;

    }
    
  

    @import "compass/css3";
    *, *:before, *:after {
        box-sizing: border-box;
    }

    html {
        overflow-y: scroll;
    }

    body {
        background: #c1bdba;
        font-family: 'Titillium Web', sans-serif;
    }
    .background{
        background-color: whitesmoke;
  
    }


    a {
        text-decoration: none;
        color: #1a86b1;
        transition: 0.5s ease;
    }

    a:hover {
        color: #179b77;
    }

    .form {
        background: rgba(19, 35, 47, .9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
        border-radius: 50px;
    }
   
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #1a86b1;
        color: #fff;
        transition: all 0.5s ease;
        -webkit-appearance: none;
    }

    .button:hover, .button:focus {
        background: #179b77;
    }

    .button-block {
        display: block;
        width: 100%;
    }

   

</style>

<body class="background">

  <div class="form">
		

		<div class="tab-content">
			<div id="login">

				<form method="POST">
					{% csrf_token %}
                    <input type="submit" name="logout" id="logout" class="button button-block">Log out</input>
                    
				</form>

			</div>

			<div ></div>

		</div><!-- tab-content -->

	</div> <!-- /form -->






<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>


<script src = "{% static 'js/login.js' %}"></script>

<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>


</body>


</html>

