<DOCTYPE 5>
    {% load static %}
<html>    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Story 7 & 8 & 9</title>       
    </head>
    <style>
        body{
            padding-top:50px;
        }
        .coverBook{   
            filter: drop-shadow(10px 10px 5px);
        }
        .mytable{
            font-family: 'Titillium Web', sans-serif;
            font-size: 30px;
        }
        .tableContent{
            font-family: 'Roboto';
            font-size: 20px;
        }
        .myButton{
            font-family: 'Roboto';
            font-weight: 700;
            background-color: #f8f8f8;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 35px;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }
        .myButton:hover{
            background-color: #fcfcfc;
            box-shadow: 0px 15px 20px rgba(130, 139, 136, 0.4);
            color: #000;
            transform: translateY(-7px);
        }
        .textArea{
            width: 500px;
            box-sizing: border-box;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
            border-radius: 35px;
        }
        .textArea::placeholder {  
            font-style: italic;
        }
        #konten{
            padding-top: 20px;

        }
        .homeButton{
            font-family: 'Roboto';
            font-size : 20px;
            font-weight: 900;
            background-color: #f8f8f8;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 35px;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            
        }
    
    </style>
    <body >
        <div class="text-center">
            <h1 style="font-family: 'roboto';">FIND YOUR BOOK HERE</h1>
            <input id="search" class="textArea"  placeholder="  Write the title here...">
            <button class="myButton" id="button" type="button">FIND</button>
            <div class="container" id="konten">
                    <table border="1" class="table table-striped">
                        <thead class="myTable text-center">
                        </thead>
                        <tbody class="text-center tableContent" id="results">
                            
                        </tbody>
                    
                    </table>

            </div>
            <form action="{% url 'my_app:index' %}">
                <button class="homeButton"  type="submit">&#8678; Back to Homepage</button>
             </form>
        </div>    
        


        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/ajaxSlide.js' %}" type="text/javascript"></script>
    </body>

