<DOCTYPE 5>
{% load static %}
<html>    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Story 7 & 8 & 9</title>       
    </head>
    <style>
        body{
            margin: 0;
           
        }
        section{
            position: absolute;
            left: 0;
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
            
            background: url('/static/images/day.jpg') no-repeat center center fixed;
            background-size: cover;
            transition:0.5s;
            
        }
        section.dark {
            background: url('/static/images/night.jpg') no-repeat center center fixed;
            background-size: cover;
            color: #fff;

        }
        ul.tema{
            position: relative;
            margin-right: auto;
            margin-left: auto; 
            padding:0;
            width: 200px;
            height: 30px;
            z-index: 1;
            border: 1px solid #262626; 
            letter-spacing: 2.5px;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            overflow: hidden;
            color: #262626;
        }
        ul.tema:hover{
            transform: translateY(7px);
            
        } 
        ul.tema.active {
            border-color: #fff;
        }
        ul.tema.active:hover{
            transform: translateY(7px);
            
        } 
        ul.tema li{
            list-style: none;
            width: 100%;
            height: 60px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            font-family: 'Titillium Web', sans-serif;
            font-size :25px
        }
        ul.tema.active li{
            transform: translateY(-30px);

        }
        ul.tema li span{
            display: block;
            height: 30px;
            line-height: 30px;
            width: 100%;
            color: #fff;
            background-color: transparent;
        }
        ul.tema li span:nth-child(1){
          color: #262626;  
        }
        .ihsan{
            padding-top: 75px;
            width: 200;
            height: auto;   
            filter: drop-shadow(10px 10px 5px);
        }
        .hello{
            font-family: 'Titillium Web', sans-serif;
            font-weight: normal;
            font-style: italic;
            font-size: 23px;
            padding-top: 15px;
        }
        .jquery_accordion_item {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid ;   
        }
        .jquery_accordion_title {
            text-decoration: underline;
            display: block;
            line-height: 140%;
            padding: 6px 40px 8px 8px;
            position: relative;
            cursor: pointer;
        }
        .jquery_accordion_title:after {
            content: "";
            width: 0;
            height: 0;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 50%;
            border: 6px solid transparent;
            border-top-color: #333;
            transition: border 400ms, margin 400ms;
            margin-top: -3px; /* half of border value */
        }
        .jquery_accordion_item.active .jquery_accordion_title:after {
            border-color: transparent;
            border-bottom-color: #333;
            margin-top: -9px; /* fixing arrow position */
        }
        .jquery_accordion_content {
            padding: 8px;
            display: none;
            border : 1px solid ;
            border-bottom: none;
            
        }
        .jquery_accordion_content > *:first-child {
            margin-top: 0;
        }
        .center{
            padding-top: 70px;
        }
        .accordion{
            font-family: 'Titillium Web', sans-serif;
            font-weight: normal;
            font-size: 23px;
        }
        .content{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
        }
        .more{
            font-family: 'Poppins', sans-serif;
            font-weight: lighter;
            font-size: 30px;
        }
        .libButton{
            font-family: 'Titillium Web', sans-serif;
            font-size : 20px;
            font-weight: bolder;
            background-color: transparent;
            border-radius: 35px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            outline: none;     
            color: inherit;
        }
        .dropbtn {
            background: white;
            color: inherit;
            padding: 14px;
            font-size: 16px;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 700;
            width:100%;

            
            border: thin solid #888;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 1px 1px 1px grey;
            letter-spacing: 0.5px;
             
        } 
        .dropdown {
            position: relative;
            display: inline-block;
            padding: 14px;
            
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: inherit;
            min-width: 128px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: inherit;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #387fa8}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #387fa8;
        } 
        .navbar-custom{
            background-color: transparent !important;
            
            position:static;
        }
        .users{
            color: inherit !important;
        }
        
    
    </style>
    <body>    
        <section>
            <nav class="navbar navbar-expand-md  navbar-dark sticky-top py-0 navbar-custom">
        <a class="navbar-brand" style="font-family:'Titillium Web', sans-serif; font-weight: 900; border: solid 1px; padding: 10px; border-radius: 25px ; color: whitesmoke;">Ihsan's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_app:index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_app:ajax' %}">Library</a>
            </li> 
            </ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle users" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-user"></span>&nbsp;&nbsp;{{user.username}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'story_9:loginView' %}"><span class="fas fa-sign-in-alt"></span>&nbsp;&nbsp;Log-in</a>
                        <a class="dropdown-item" href="{% url 'story_9:logoutView' %}"><span class="fas fa-sign-out-alt"></span>&nbsp;&nbsp;Log-out</a>
                    </div>
            </li>


        </div>  
        </nav>
    
            <div class="container-fluid" >
                <div class="row">
                    <div class="col">
                        <img class="mx-auto d-block ihsan" src="{% static 'images/ihsan5.PNG' %}">
                        <p class="text-center hello">"Hello {{user.username}}, welcome to my website."</p>
                        
                    </div>
                    <div class="col center">
                        <p class="more">&#9679; More about me &#9679;</p>
                        <div class="jquery_accordion_wrapper">
                            <div class="jquery_accordion_item">
                                <div class="jquery_accordion_title accordion" id="education">Education</div>
                                <div class="jquery_accordion_content content" >
                                    <p>- Al-Khairaat Islamic Elementary School</p>
                                    <p>- Buahati Islamic Junior High School</p>
                                    <p>- Senior High School 14 Jakarta</p>
                                    <p>- Computer Science, Universitas Indonesia</p>
                                </div>
                            </div>

                            <div class="jquery_accordion_item">
                                <div class="jquery_accordion_title accordion" id="organization">Organizational Experience</div>
                                <div class="jquery_accordion_content content" >
                                    <p>- IT-Tech 14 Senior High School</p>
                                    <p>- FUKI Fasilkom UI</p>
                                </div>
                            </div>

                            <div class="jquery_accordion_item">
                                <div class="jquery_accordion_title accordion" id="committe">Committe Experience</div>
                                <div class="jquery_accordion_content content" >
                                    <p>- Scooter (SHS 14 Cup)</p>
                                    <p>- Olimpiade UI 2018</p>
                                    <p>- Compfest XI</p>
                                    <p>- SIWAK-NG 2019</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <form action="{% url 'my_app:ajax' %}">
                                <button class="libButton"  type="submit">&#8680; Go to Library</button>
                        </form>
                    </div>
                </div>
            </div>
           
        </section>
        <ul class="text-center tema">
            <li>
                <span>Night</span>
                <span>Day</span>
            </li>
        </ul>
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="{% static 'js/theme.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/accordion.js' %}" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>